<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <script src="javascripts/jquery.min.js"></script>
  <!-- VNC JavaScript SDK -->
  <script src="javascripts/vncsdk.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/index.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Sample app -->
  <link rel='stylesheet' href='stylesheets/viewer.css' />
  <link rel='stylesheet' href='stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='stylesheets/awesome.css' />
  <link rel='stylesheet' href='stylesheets/style.css' />

  <script src="javascripts/viewer.js"></script>
  <title>666 Global Medical LLC.</title>
</head>
<body>
<div id="navSection">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="images/medical.png" width="40" class="d-inline-block align-top">
    <span style="color:rgb(248,188,36);font-size: 30px;line-height: 50px;vertical-align: middle;padding-right: 15px;">666</span>
    <span style="color:white;">Global Medical LLC. Beta System</span>
    <span style="font-size: 12px;color:white;">v0.1</span>
  </a>
</nav>
</div>


<div id="uploadSection">
  <div style="width: 50%;margin: 0 auto;">
    <label class="btn btn-danger" style="display: block;text-align: center;height: 60px;line-height: 50px;">
      Step 1: Upload Your File <input id="file_input" type="file" onchange="uploadFile(event)" style="display: none !important; ">
    </label>
  </div>

  <!--<form method="POST" enctype="multipart/form-data">\-->
    <!--<input type="text" name="textfield"><br />\-->
    <!--<input type="file" name="filefield"><br />\-->
    <!--<input type="submit">\-->
  <!--</form>-->
</div>
 <!--Viewer's desktop UI-->
<div id="desktop">
  <div id="desktop-content">
    <canvas id="framebuffer" tabindex="0"><!-- Viewer framebuffer --></canvas>
  </div>
  <!-- "Disconnect" button and frame -->
  <div id="desktopBarFrame">
    <div id="message"></div>
    <button id="disconnectBtn" class="btn btn-danger">Disconnect</button>
    <button id="ctrlAltDelBtn" class="btn btn-danger">Ctrl-Alt-Del</button>
    <!--<button id="ctrlAltDelBtn" class="btn btn-danger">upload file</button>-->
  </div>
</div>

<!-- Status Dialog UI -->

<div id="container">
  <div id="mainView">
    <div id="statusDialog">
      <div id="statusFrame">
        <p id="statusTitle"></p>
        <p id="statusContent"></p>
      </div>
    </div>
    <!-- "Connect" and "Start Over" buttons -->
    <div id="buttonBarFrame">
      <div id="connectBtnFrame" class="center-align">
        <button id="connectBtn" class="btn btn-danger">Connect</button>
        <button id="resetBtn" class="btn btn-danger" onclick="reset()">Reset</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

